body {
    background-image: url('ruins.webp');
    background-size: cover;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: orange;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: linear-gradient(to bottom, #3c2300, #943900, #261600);
    color: #fff;
    padding-top: 10px;
    margin-bottom: 2%;
    min-height: 70px;
    text-align: center;
    border-bottom: #1d0a00 3px solid;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#chatBox {
    border: 1px solid #ccc;
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
    background-color: rgba(249, 249, 249, 0.75);
    margin-bottom: 10px;
}

#chatBox strong {
    color: #ff5900;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

